langchain
langchain-community
langchain-groq
langchain-text-splitters
langchain-huggingface
langchain-chroma
faiss-cpu
pypdf
sentence-transformers
streamlit
huggingface_hub
langgraph
chromadb
protobuf==3.20.3
rank_bm25
flashrank
langchain
langchain-community
langchain-text-splitters
langchain-huggingface
langchain-groq
langchain-core
faiss-cpu
pypdf
sentence-transformers
streamlit
huggingface_hub
rank_bm25
flashrank
