langchain
langchain-community
langchain-groq
langchain-text-splitters
langchain-huggingface
langchain-chroma
faiss-cpu
pypdf
sentence-transformers
streamlit
huggingface_hub
langgraph
chromadb
protobuf==3.20.3
